annotated-types==0.7.0
asgiref==3.8.1
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.1.1
django-debug-toolbar==4.2.0
djangorestframework==3.16.0
et_xmlfile==2.0.0
idna==3.4
openpyxl==3.1.5
packaging==24.2
pydantic==2.3.0
pydantic_core==2.6.3
python-dotenv==1.1.1
requests==2.31.0
selenium==4.38.0
setuptools==80.9.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
webdriver-manager==4.0.2
websocket-client==1.9.0
